.pokemon-list {
    height: 100%;
    padding: 1rem;
    background-color: var(--list-background);
}

swiper-container {
    --height: 200px;
    height: calc((100vh - var(--height)) - 2rem);

    @media (min-width: 559px) {
        --height: 208px;
    }
}

#loading-cover {
    display: none;
}

.pokemon {
    //height: 100%;
}
.pokemon-img {
    display: none;
    height: 100%;
    width: 100%;
}