@font-face {
    font-family: "pokemon";
    src: url("../../assets/fonts/FOT-KafuTechnoStd-H_1.otf");
}


:root {
    --header-main: #e3dc9b;
    --header-secondary: #E86B67;
    --header-tertiary:black;
    --header-text: black;
    --header-grid-areas: ". logo title button";
    --header-grid-columns: 50px 100px auto 1fr;
    --header-border-radius: 10px;
    --header-padding: 1rem;
    --logo-background: var(--header-secondary);
    --normal: #a4acaf;
    --grass: #9bcc50;
    --fire: #fd7d24;
    --water: #4592c4;
    --electric: #eed535;
    --bug: #628945;
    --poison: #b97fc9;
    --flying: #3dc7ef;
    --psychic: #f366b9;
    --ground: #f7de3f;
    --rock: #a38c21;
    --dragon: #53a4cf;
    --fairy: #fdb9e9;
    --ice: #51c4e7;
    --fighting: #d56723;
    --dark: #707070;
    --ghost: #7b62a3;
    --steel: #9eb7b8;
    --pokemon-height: 100px;
    --pokemon-width: 100px;
    --text-direction: unset;
    --background: #89A0A8;
    --pokemon-backing: white;
    --button: rgb(58, 58, 58);
    --button-hover: #000000;
    --flex-direction: column;
}

[data-theme="alt"] {
    --header-main: repeating-linear-gradient(180deg, #ffffff 0%, #fafafa 13%);
    --header-secondary: #1D273B;
    --header-tertiary:#d7b308;
    --header-text: white;
    --header-grid-areas:  "logo . button" "title title title";
    --header-grid-columns: 200px auto 1fr;
    --header-border-radius: 0;
    --header-padding: 0;
    --logo-background: 0;
    --pokemon-height: 80px;
    --pokemon-width: 80px;
    --text-direction: vertical-lr;
    --background: url(../../assets/images/material-wood.svg);
    --pokemon-backing: #C5C7AF;
    --button: #DD8040;
    --button-hover: #b46835;
    --flex-direction: row;

    .pokemon {
        display: grid;
        grid-template-rows: 15px 1fr 66px 15px;
        background-color: var(--pokemon-backing);
        min-height: 40vh;
        position: relative;
        box-shadow: 4px 3px 2px 2px black;
        border-radius: 1px;
        padding: 10px 0;
        gap: 10px;
        min-width: calc(290px - 2rem);
    
        &::before, &::after {
            content: '';
            position: relative;
            background-color: #D0F447;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
        }
    
        .image-name {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
    
            img {
                height: var(--pokemon-height);
                width: var(--pokemon-width);
                object-fit: contain;
                object-position: center;
            }
    
            h3 {
                writing-mode: var(--text-direction);
                text-transform: capitalize;
            }
        }
        
        p {
            font-size: 23px;
            text-align: center;
        }
    
    } 
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

#root {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

h1, h2, h3, h4, h5, h6, p, input, button {
    font-family: 'pokemon', sans-serif;
}

h3 {
    font-size: clamp(30px, 4vw, 45px);
}

.list {
    display: flex;
    flex-direction: var(--flex-direction);
    background: var(--background);
    gap: 1rem;
    padding: 1rem;
    overflow-x: auto;
    height: 100%;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: grid;
    grid-template-areas: var(--header-grid-areas);
    grid-template-columns: var(--header-grid-columns);
    align-items: center;
    justify-items: center;
    background: var(--header-main);
    box-shadow: 2px 4px 5px 1px black;
    padding: var(--header-padding) 0;

    img {
        grid-area: logo;
        background-color: var(--logo-background);
        border-top-left-radius: var(--header-border-radius);
        border-bottom-left-radius: var(--header-border-radius);
    }

    h1 {
        grid-area: title;
        color: var(--header-text);
        background-color: var(--header-secondary);
        text-align: center;
        padding: 1rem;
        width: 100%;
        height: 100%;
        border-top-right-radius: var(--header-border-radius);
        border-bottom-right-radius: var(--header-border-radius);
    }

    .button {
        grid-area: button;
        justify-self: end;
        margin-right: 1rem;
    }
}

.button {
    border-radius: 25px;
    border: 0;
    background-color: var(--button);
    color: white;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 300ms;

    &:hover, &:focus {
        background-color: var(--button-hover);
    }
}