:root {
    --main: #ff1b1c;
    --secondary: white;
    --normal: #a4acaf;
    --grass: #9bcc50;
    --fire: #fd7d24;
    --water: #4592c4;
    --electric: #eed535;
    --bug: #628945;
    --poison: #b97fc9;
    --flying: #3dc7ef;
    --psychic: #f366b9;
    --ground: #f7de3f;
    --rock: #a38c21;
    --dragon: #53a4cf;
    --fairy: #fdb9e9;
    --ice: #51c4e7;
    --fighting: #d56723;
    --dark: #707070;
    --ghost: #7b62a3;
    --steel: #9eb7b8;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

.hide {
   margin-top: 10vh;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minMax(320px, 1fr));
}