@font-face {
  font-family: "pokemon";
  src: url("../../assets/fonts/FOT-KafuTechnoStd-H_1.otf");
}
:root {
  --normal: #a4acaf;
  --grass: #9bcc50;
  --fire: #fd7d24;
  --water: #4592c4;
  --electric: #eed535;
  --bug: #628945;
  --poison: #b97fc9;
  --flying: #3dc7ef;
  --psychic: #f366b9;
  --ground: #f7de3f;
  --rock: #a38c21;
  --dragon: #53a4cf;
  --fairy: #fdb9e9;
  --ice: #51c4e7;
  --fighting: #d56723;
  --dark: #707070;
  --ghost: #7b62a3;
  --steel: #9eb7b8;
  --header-main: repeating-linear-gradient(180deg, #ffffff 0%, #fafafa 13%);
  --header-secondary: #1D273B;
  --header-tertiary: #d7b308;
  --header-text-mobile: black;
  --header-text-desktop: white;
  --header-grid-areas: "logo . button""title title title";
  --header-grid-columns: 200px auto 1fr;
  --header-border-radius: 0;
  --header-padding: 1rem 0 0;
  --logo-background: 0;
  --list-background: url(../../assets/images/material-wood.svg);
  --list-direction: row;
  --text-direction: vertical-lr;
  --pokemon-background: #C5C7AF;
  --pokemon-slide-height: 40vh;
  --pokemon-outer-box-shadow: 4px 3px 2px 2px black;
  --pokemon-inner-box-shadow: none;
  --pokemon-outer-border: 0;
  --pokemon-inner-border: 0;
  --pokemon-name-style: capitalize;
  --pokemon-padding: 0;
  --pokemon-gap: 10px 0;
  --pokemon-width-mobile: 80px;
  --pokemon-width-desktop: 80px;
  --pokemon-name-id-direction-mobile: column;
  --pokemon-name-id-direction-desktop: column;
  --pokemon-name-id-background: none;
  --pokemon-name-id-border-radius-left: 0;
  --pokemon-name-id-border-radius-right: 0;
  --pokemon-name-id-box-shadow: none;
  --button: #DD8040;
  --button-hover: #b46835;
  --button-radius: 25px;
}

[data-theme=gen4] {
  --header-main: #e3dc9b;
  --header-secondary: #E86B67;
  --header-tertiary: black;
  --header-text-mobile: black;
  --header-text-desktop: white;
  --header-grid-areas: ". logo title button";
  --header-grid-columns: 50px 100px auto 1fr;
  --header-border-radius: 10px;
  --header-padding: 1rem;
  --logo-background: var(--header-secondary);
  --list-background: #89A0A8;
  --list-direction: column;
  --text-direction: initial;
  --pokemon-background: 0;
  --pokemon-slide-height: 100%;
  --pokemon-outer-box-shadow: none;
  --pokemon-inner-box-shadow: inset 0 0 4px 8px #9fb1d7;
  --pokemon-outer-border: 5px #74a1ff solid;
  --pokemon-inner-border: 5px solid var(--header-main);
  --pokemon-name-style: uppercase;
  --pokemon-padding: 1rem;
  --pokemon-gap: 3.2rem;
  --pokemon-height: auto;
  --pokemon-width-mobile: 100dvw;
  --pokemon-width-desktop: 25dvw;
  --pokemon-name-id-direction-mobile: row;
  --pokemon-name-id-direction-desktop: row-reverse;
  --pokemon-name-id-background: #D1D3E2;
  --pokemon-name-id-border-radius-left: 100px;
  --pokemon-name-id-border-radius-right: 15px;
  --pokemon-name-id-box-shadow: 0px 4px 3px #00000036;
  --button: rgb(58, 58, 58);
  --button-hover: #000000;
  --button-radius: 10px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  top: 0;
  z-index: 99;
  background: var(--header-main);
  box-shadow: 2px 4px 5px 1px black;
  padding: 1rem;
  gap: 10px;
}
header img {
  grid-area: logo;
  background-color: var(--logo-background);
  border-radius: var(--header-border-radius);
  flex: 75px 0;
}
@media (min-width: 559px) {
  header img {
    border-top-left-radius: var(--header-border-radius);
    border-bottom-left-radius: var(--header-border-radius);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    flex: 100px 0;
    height: 100px;
    width: 100px;
  }
}
header h1 {
  grid-area: title;
  text-align: center;
  color: var(--header-text-mobile);
  width: 100%;
  height: 100%;
  border-top-right-radius: var(--header-border-radius);
  border-bottom-right-radius: var(--header-border-radius);
  font-size: clamp(30px, 4vw, 32px);
  flex: 1;
}
@media (min-width: 559px) {
  header h1 {
    padding: 1rem;
    color: var(--header-text-desktop);
    background-color: var(--header-secondary);
  }
}
header .button {
  grid-area: button;
  justify-self: end;
  flex: 100%;
}
@media (min-width: 559px) {
  header .button {
    margin: 0 1rem;
  }
}
@media (min-width: 559px) {
  header {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: var(--header-grid-columns);
    grid-template-areas: var(--header-grid-areas);
    padding: var(--header-padding) 0;
    gap: 0;
  }
}

h1, h2, h3, h4, h5, h6, p, input, button {
  font-family: "pokemon", sans-serif;
}

h3 {
  font-size: clamp(30px, 4vw, 45px);
}

.button {
  border-radius: var(--button-radius);
  border: 0;
  background-color: var(--button);
  color: white;
  padding: 0.8rem 1rem;
  cursor: pointer;
  transition: background-color 300ms;
}
.button:hover, .button:focus {
  background-color: var(--button-hover);
}

.pokemon-list {
  display: flex;
  flex-direction: var(--list-direction);
  background: var(--list-background);
  padding: 1rem;
  height: 100%;
  flex: 1;
  overflow: hidden;
  max-width: 100%;
}
@media (min-width: 1500px) {
  .pokemon-list {
    padding: 2rem;
  }
}

.pokemon {
  display: grid;
  position: relative;
  box-shadow: var(--pokemon-outer-box-shadow);
  height: 100%;
  border-radius: 1px;
  gap: 1rem;
  background-color: var(--pokemon-background);
}
.pokemon .pokemon-img {
  object-fit: contain;
  object-position: center;
  height: 100%;
  width: 100%;
  max-height: var(--pokemon-height-mobile);
  max-width: var(--pokemon-width-mobile);
  aspect-ratio: 1/1;
  justify-self: center;
  transition: 300ms opacity;
  align-self: flex-end;
  min-height: 100px;
}
@media (min-width: 1024px) {
  .pokemon .pokemon-img {
    height: var(--pokemon-height-desktop);
    width: var(--pokemon-width-desktop);
  }
}
.pokemon .name-id {
  position: relative;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: var(--pokemon-name-id-direction-mobile);
  justify-content: space-around;
  align-items: center;
  background-color: var(--pokemon-name-id-background);
  border-radius: var(--pokemon-name-id-border-radius-right);
  box-shadow: var(--pokemon-name-id-box-shadow);
  align-self: flex-end;
  margin-bottom: 5px;
  grid-column: 2/-1;
  color: black;
  text-decoration: none;
  transition: 400ms left, 300ms background-color;
}
@media (min-width: 1024px) {
  .pokemon .name-id {
    flex-direction: var(--pokemon-name-id-direction-desktop);
    border-top-left-radius: var(--pokemon-name-id-border-radius-left);
    border-bottom-left-radius: var(--pokemon-name-id-border-radius-left);
    border-top-right-radius: var(--pokemon-name-id-border-radius-right);
    border-bottom-right-radius: var(--pokemon-name-id-border-radius-right);
    align-self: unset;
    margin-bottom: 0;
  }
}
@media (min-height: 1024px) {
  .pokemon .name-id {
    min-height: 140px;
  }
}
.pokemon .pokemon-name {
  writing-mode: var(--text-direction);
  text-transform: var(--pokemon-name-style);
  pointer-events: none;
}
.pokemon .pokemon-id {
  font-size: 23px;
  text-align: center;
  pointer-events: none;
}
@media (min-width: 1024px) {
  .pokemon {
    gap: var(--pokemon-gap);
    grid-template-columns: 1fr 1fr;
  }
}

[data-theme=gen4] swiper-container {
  height: calc(95dvh - 168px);
  overflow: hidden;
}
[data-theme=gen4] .pokemon .img-link {
  transition: visibility 300ms;
}
[data-theme=gen4] .pokemon .img-link:has(~ .name-id:hover, ~ .name-id:focus) .pokemon-img {
  filter: drop-shadow(4px 8px 17px black);
}
[data-theme=gen4] .pokemon .img-link:hover .pokemon-img, [data-theme=gen4] .pokemon .img-link:focus .pokemon-img {
  filter: drop-shadow(4px 8px 17px black);
}
[data-theme=gen4] .pokemon .img-link:hover ~ .name-id, [data-theme=gen4] .pokemon .img-link:focus ~ .name-id {
  background-color: var(--header-secondary);
}
[data-theme=gen4] .pokemon .name-id:hover, [data-theme=gen4] .pokemon .name-id:focus {
  background-color: var(--header-secondary);
}
[data-theme=gen4] .pokemon-img {
  transition: filter 300ms;
}
@media (min-width: 1024px) {
  [data-theme=gen4] .pokemon-img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(20%, -40%);
  }
}
@media (min-width: 2200px) {
  [data-theme=gen4] .pokemon-img {
    transform: translate(40%, -40%);
  }
}
@media (min-width: 1024px) {
  [data-theme=gen4] swiper-slide:first-of-type {
    margin-top: 25vh;
  }
  [data-theme=gen4] swiper-slide.swiper-slide-active .name-id {
    left: -10%;
    background-color: var(--header-main);
  }
  [data-theme=gen4] swiper-slide:not(.swiper-slide-active) .img-link {
    visibility: hidden;
  }
  [data-theme=gen4] swiper-slide:not(.swiper-slide-active) .img-link .pokemon-img {
    opacity: 0;
  }
}

[data-theme=gen9] swiper-container {
  max-height: calc(100dvh - 168px - 2rem);
  width: 100%;
  overflow: hidden;
}
[data-theme=gen9] swiper-slide {
  max-height: 99%;
}
[data-theme=gen9] .pokemon {
  grid-template-rows: 15px 100px 1fr 15px;
  grid-template-columns: unset;
  align-items: unset;
  max-width: 214px;
}
[data-theme=gen9] .pokemon:hover, [data-theme=gen9] .pokemon:focus {
  background-color: #D0F447;
}
[data-theme=gen9] .pokemon::before, [data-theme=gen9] .pokemon::after {
  content: "";
  position: relative;
  background-color: #D0F447;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
[data-theme=gen9] .pokemon .name-id {
  align-self: unset;
  margin-bottom: 0;
}
[data-theme=gen9] .pokemon .name-id .pokemon-name {
  flex: 1;
}

#loading-cover {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 100;
  color: white;
  border: unset;
  display: grid;
  place-items: center;
  transition: 1s opacity, 1s visibility;
  font-size: clamp(40px, 4vh, 120px);
}
#loading-cover.open {
  opacity: 1;
  visibility: visible;
}

/*# sourceMappingURL=main.css.map */
